<ion-content>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-progress-bar color="danger" value="0.87"></ion-progress-bar>
          </ion-col>
          <ion-col size="2">
            <ion-text class="small-text">
              <small>87/100</small>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-progress-bar color="primary" value="0.52"></ion-progress-bar>
          </ion-col>
          <ion-col size="2">
            <ion-text class="small-text">
              <small>52/100</small>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="3">
            <ion-button color="dark" expand="full" fill="outline" routerLink="/main-game-char">
              <ion-icon slot="icon-only" name="person-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="dark" expand="full" fill="outline" routerLink="/main-game-equip">
              <ion-icon slot="icon-only" name="shield-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="dark" expand="full" fill="outline" routerLink="/main-game-loot">
              <ion-icon slot="icon-only" name="briefcase-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="dark" expand="full" fill="outline" routerLink="/main-game-settings">
              <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-footer>