<ion-toolbar>
  <ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <small>
              <span class="text-char-name">{{ player.name }}</span>
              <span class="text-level"> Nv {{ player.level }}</span>
            </small>
          </ion-text>
          <ion-progress-bar color="warning" [value]="expPercent"></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-title>
</ion-toolbar>
<ion-content fullscreen>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-progress-bar color="danger" [value]="lPercent"></ion-progress-bar>
          </ion-col>
          <ion-col size="2">
            <ion-text class="small-text">
              <small>{{ life }}/{{ baseLife }}</small>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-progress-bar color="primary" [value]="mPercent"></ion-progress-bar>
          </ion-col>
          <ion-col size="2">
            <ion-text class="small-text">
              <small>{{ mana }}/{{ baseMana }}</small>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-margin-top">
          <ion-col size="3">
            <ion-button color="dark" fill="outline" routerLink="/main-game-char">
              <ion-img src="../assets/images/buttons/in-game-char.png" style="height: 80%;"></ion-img>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="dark" fill="outline" routerLink="/main-game-equip">
              <ion-img src="../assets/images/buttons/in-game-equip.png" style="height: 80%;"></ion-img>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="dark" fill="outline" routerLink="/main-game-loot">
              <ion-img src="../assets/images/buttons/in-game-loot.png" style="height: 80%;"></ion-img>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button color="dark" fill="outline" routerLink="/main-game-settings">
              <ion-img src="../assets/images/buttons/in-game-settings.png" style="height: 80%;"></ion-img>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-footer>