ion-progress-bar {
    height: 7px;
    --buffer-background: #262626;
}

ion-title {
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.ion-margin-top {
    margin-top: 10px;
}

.small-text {
    position: absolute;
    top: -8px;
    small {
        font-size: 0.5em;
    }
}

.small-text-bottom {
    position: absolute;
    bottom: 0;
    top: initial;
    small {
        font-size: 0.5em;
    }
}

.img-thumb {
    height: 40px;
}

.text-char-name {
    float: left;
    margin-bottom: 5px;
}

.text-level {
    color: var(--ion-color-warning);
    float: right;
    margin-bottom: 5px;
}

.img-condition {
    height: 25px;
    margin-right: 5px;
}

.has-points {
    position: absolute;
    right: 0;
    z-index: 1;
}
