<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Novo Personagem
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen>
  <ion-list class="ion-padding-top ion-margin-top">
    <ion-item>
      <ion-input clearInput type="text" placeholder="Nome" [value]="charName"></ion-input>
      <ion-button color="dark" fill="outline" expand="full" (click)="randomName()">
        <ion-icon slot="icon-only" name="shuffle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ion-padding-top ion-margin-top">
    <ion-item>
      <ion-label color="medium">Pontos disponíveis</ion-label>
      <ion-text color="medium" class="ion-float-right">{{ points }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="danger">Vitalidade</ion-label>
      <ion-button color="dark" fill="outline" expand="full" (click)="decrease('vitality')">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="danger">{{ vitality }}</ion-text>
      <ion-button color="dark" fill="outline" expand="full" (click)="increase('vitality')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Inteligência</ion-label>
      <ion-button color="dark" fill="outline" expand="full" (click)="decrease('intelligence')">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="primary">{{ intelligence }}</ion-text>
      <ion-button color="dark" fill="outline" expand="full" (click)="increase('intelligence')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label color="success">Agilidade</ion-label>
      <ion-button color="dark" fill="outline" expand="full" (click)="decrease('agility')">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="success">{{ agility }}</ion-text>
      <ion-button color="dark" fill="outline" expand="full" (click)="increase('agility')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button id="btn-continue" class="ion-margin-top" color="dark" expand="full" fill="outline"
          (click)="saveCharStartGame()">
          Começar!
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
