<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'new-char.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen>
  <ion-list class="ion-padding-top ion-margin-top">
    <ion-item>
      <ion-input clearInput type="text" placeholder="{{ 'new-char.name'| translate }}" [(ngModel)]="charName">
      </ion-input>
      <ion-button color="dark" fill="outline" (click)="randomName()">
        <ion-icon slot="icon-only" name="shuffle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list lines="none" class="ion-padding-top ion-margin-top">
    <ion-item>
      <ion-label color="medium">{{ 'new-char.points' | translate }}</ion-label>
      <ion-text color="medium" class="ion-float-right">{{ points }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="danger">{{ 'player.vit' | translate }}</ion-label>
      <ion-button color="dark" fill="outline" (click)="decrease('vitality')">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="danger">{{ vitality }}</ion-text>
      <ion-button color="dark" fill="outline" (click)="increase('vitality')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label color="primary">{{ 'player.int' | translate }}</ion-label>
      <ion-button color="dark" fill="outline" (click)="decrease('intelligence')">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="primary">{{ intelligence }}</ion-text>
      <ion-button color="dark" fill="outline" (click)="increase('intelligence')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label color="success">{{ 'player.agi' | translate }}</ion-label>
      <ion-button color="dark" fill="outline" (click)="decrease('agility')">
        <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="success">{{ agility }}</ion-text>
      <ion-button color="dark" fill="outline" (click)="increase('agility')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button id="btn-continue" class="ion-margin-top" color="dark" expand="block" fill="outline"
          (click)="saveCharStartGame()">
          {{ 'new-char.start' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>