<ion-content class="ion-padding" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center ion-margin-top">
          <p id="lore-text-1" [innerHTML]="'intro.text-1' | translate"></p>
          <p id="lore-text-2" [innerHTML]="'intro.text-2' | translate"></p>
          <p id="lore-text-3" [innerHTML]="'intro.text-3' | translate"></p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button id="btn-continue" class="ion-margin-top" color="dark" expand="block" fill="outline"
          routerLink="/create-character" routerDirection="root" (click)="playCnt()">
          {{ 'intro.continue' | translate }}
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>