// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// @media (prefers-color-scheme: dark) {

// Dark Colors

body {
  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

// iOS Dark Theme

.ios body {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #0d0d0d;

  --ion-item-background: #000000;
}

// Material Design Dark Theme

.md body {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  // --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;
}
// }

// CUSTOM SKILL COLORS
:root {
  // gray
  --ion-color-skillGray: #9b9b9b;
  --ion-color-skillGray-rgb: 105, 187, 123;
  --ion-color-skillGray-contrast: #ffffff;
  --ion-color-skillGray-contrast-rgb: 255, 255, 255;
  --ion-color-skillGray-shade: #9b9b9b;
  --ion-color-skillGray-tint: #9b9b9b;

  // emerald
  --ion-color-skillEmerald: #09ff8e;
  --ion-color-skillEmerald-rgb: 105, 187, 123;
  --ion-color-skillEmerald-contrast: #ffffff;
  --ion-color-skillEmerald-contrast-rgb: 255, 255, 255;
  --ion-color-skillEmerald-shade: #09ff8e;
  --ion-color-skillEmerald-tint: #09ff8e;

  // yellow
  --ion-color-skillYellow: #eef705;
  --ion-color-skillYellow-rgb: 105, 187, 123;
  --ion-color-skillYellow-contrast: #ffffff;
  --ion-color-skillYellow-contrast-rgb: 255, 255, 255;
  --ion-color-skillYellow-shade: #eef705;
  --ion-color-skillYellow-tint: #eef705;

  // gold
  --ion-color-skillGold: #F8E71C;
  --ion-color-skillGold-rgb: 105, 187, 123;
  --ion-color-skillGold-contrast: #ffffff;
  --ion-color-skillGold-contrast-rgb: 255, 255, 255;
  --ion-color-skillGold-shade: #F8E71C;
  --ion-color-skillGold-tint: #F8E71C;

  // orange
  --ion-color-skillOrange: #F58123;
  --ion-color-skillOrange-rgb: 105, 187, 123;
  --ion-color-skillOrange-contrast: #ffffff;
  --ion-color-skillOrange-contrast-rgb: 255, 255, 255;
  --ion-color-skillOrange-shade: #F58123;
  --ion-color-skillOrange-tint: #F58123;

  // saphire
  --ion-color-skillSaphire: #48BAFF;
  --ion-color-skillSaphire-rgb: 105, 187, 123;
  --ion-color-skillSaphire-contrast: #ffffff;
  --ion-color-skillSaphire-contrast-rgb: 255, 255, 255;
  --ion-color-skillSaphire-shade: #48BAFF;
  --ion-color-skillSaphire-tint: #48BAFF;

  // turquoise
  --ion-color-skillTurquoise: #029373;
  --ion-color-skillTurquoise-rgb: 105, 187, 123;
  --ion-color-skillTurquoise-contrast: #ffffff;
  --ion-color-skillTurquoise-contrast-rgb: 255, 255, 255;
  --ion-color-skillTurquoise-shade: #029373;
  --ion-color-skillTurquoise-tint: #029373;

  // copper
  --ion-color-skillCopper: #8B572A;
  --ion-color-skillCopper-rgb: 105, 187, 123;
  --ion-color-skillCopper-contrast: #ffffff;
  --ion-color-skillCopper-contrast-rgb: 255, 255, 255;
  --ion-color-skillCopper-shade: #8B572A;
  --ion-color-skillCopper-tint: #8B572A;

  // pink
  --ion-color-skillPink: #FF0091;
  --ion-color-skillPink-rgb: 105, 187, 123;
  --ion-color-skillPink-contrast: #ffffff;
  --ion-color-skillPink-contrast-rgb: 255, 255, 255;
  --ion-color-skillPink-shade: #FF0091;
  --ion-color-skillPink-tint: #FF0091;

  // green
  --ion-color-skillGreen: #13AA04;
  --ion-color-skillGreen-rgb: 105, 187, 123;
  --ion-color-skillGreen-contrast: #ffffff;
  --ion-color-skillGreen-contrast-rgb: 255, 255, 255;
  --ion-color-skillGreen-shade: #13AA04;
  --ion-color-skillGreen-tint: #13AA04;

  // darkred
  --ion-color-skillDarkred: #e11417;
  --ion-color-skillDarkred-rgb: 105, 187, 123;
  --ion-color-skillDarkred-contrast: #ffffff;
  --ion-color-skillDarkred-contrast-rgb: 255, 255, 255;
  --ion-color-skillDarkred-shade: #e11417;
  --ion-color-skillDarkred-tint: #e11417;

  // olive
  --ion-color-skillOlive: #008a16;
  --ion-color-skillOlive-rgb: 105, 187, 123;
  --ion-color-skillOlive-contrast: #ffffff;
  --ion-color-skillOlive-contrast-rgb: 255, 255, 255;
  --ion-color-skillOlive-shade: #008a16;
  --ion-color-skillOlive-tint: #008a16;

  // leaf
  --ion-color-skillLeaf: #7ED321;
  --ion-color-skillLeaf-rgb: 105, 187, 123;
  --ion-color-skillLeaf-contrast: #ffffff;
  --ion-color-skillLeaf-contrast-rgb: 255, 255, 255;
  --ion-color-skillLeaf-shade: #7ED321;
  --ion-color-skillLeaf-tint: #7ED321;

  // salmon
  --ion-color-skillSalmon: #FFE0AF;
  --ion-color-skillSalmon-rgb: 105, 187, 123;
  --ion-color-skillSalmon-contrast: #ffffff;
  --ion-color-skillSalmon-contrast-rgb: 255, 255, 255;
  --ion-color-skillSalmon-shade: #FFE0AF;
  --ion-color-skillSalmon-tint: #FFE0AF;

  // royal
  --ion-color-skillRoyal: #4552CC;
  --ion-color-skillRoyal-rgb: 105, 187, 123;
  --ion-color-skillRoyal-contrast: #ffffff;
  --ion-color-skillRoyal-contrast-rgb: 255, 255, 255;
  --ion-color-skillRoyal-shade: #4552CC;
  --ion-color-skillRoyal-tint: #4552CC;

  // magenta
  --ion-color-skillMagenta: #BD10E0;
  --ion-color-skillMagenta-rgb: 105, 187, 123;
  --ion-color-skillMagenta-contrast: #ffffff;
  --ion-color-skillMagenta-contrast-rgb: 255, 255, 255;
  --ion-color-skillMagenta-shade: #BD10E0;
  --ion-color-skillMagenta-tint: #BD10E0;

  // purple
  --ion-color-skillPurple: #6500BF;
  --ion-color-skillPurple-rgb: 105, 187, 123;
  --ion-color-skillPurple-contrast: #ffffff;
  --ion-color-skillPurple-contrast-rgb: 255, 255, 255;
  --ion-color-skillPurple-shade: #6500BF;
  --ion-color-skillPurple-tint: #6500BF;

  // red
  --ion-color-skillRed: #FE2A25;
  --ion-color-skillRed-rgb: 105, 187, 123;
  --ion-color-skillRed-contrast: #ffffff;
  --ion-color-skillRed-contrast-rgb: 255, 255, 255;
  --ion-color-skillRed-shade: #FE2A25;
  --ion-color-skillRed-tint: #FE2A25;

  // diamond
  --ion-color-skillDiamond: #8BFFE4;
  --ion-color-skillDiamond-rgb: 105, 187, 123;
  --ion-color-skillDiamond-contrast: #ffffff;
  --ion-color-skillDiamond-contrast-rgb: 255, 255, 255;
  --ion-color-skillDiamond-shade: #8BFFE4;
  --ion-color-skillDiamond-tint: #8BFFE4;
}

// gray
.ion-color-skillGray {
  --ion-color-base: var(--ion-color-skillGray);
  --ion-color-base-rgb: var(--ion-color-skillGray-rgb);
  --ion-color-contrast: var(--ion-color-skillGray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillGray-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillGray-shade);
  --ion-color-tint: var(--ion-color-skillGray-tint);
}

// emerald
.ion-color-skillEmerald {
  --ion-color-base: var(--ion-color-skillEmerald);
  --ion-color-base-rgb: var(--ion-color-skillEmerald-rgb);
  --ion-color-contrast: var(--ion-color-skillEmerald-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillEmerald-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillEmerald-shade);
  --ion-color-tint: var(--ion-color-skillEmerald-tint);
}

// yellow
.ion-color-skillYellow {
  --ion-color-base: var(--ion-color-skillYellow);
  --ion-color-base-rgb: var(--ion-color-skillYellow-rgb);
  --ion-color-contrast: var(--ion-color-skillYellow-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillYellow-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillYellow-shade);
  --ion-color-tint: var(--ion-color-skillYellow-tint);
}

// darkred
.ion-color-skillDarkred {
  --ion-color-base: var(--ion-color-skillDarkred);
  --ion-color-base-rgb: var(--ion-color-skillDarkred-rgb);
  --ion-color-contrast: var(--ion-color-skillDarkred-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillDarkred-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillDarkred-shade);
  --ion-color-tint: var(--ion-color-skillDarkred-tint);
}

// olive
.ion-color-skillOlive {
  --ion-color-base: var(--ion-color-skillOlive);
  --ion-color-base-rgb: var(--ion-color-skillOlive-rgb);
  --ion-color-contrast: var(--ion-color-skillOlive-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillOlive-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillOlive-shade);
  --ion-color-tint: var(--ion-color-skillOlive-tint);
}

// magenta
.ion-color-skillMagenta {
  --ion-color-base: var(--ion-color-skillMagenta);
  --ion-color-base-rgb: var(--ion-color-skillMagenta-rgb);
  --ion-color-contrast: var(--ion-color-skillMagenta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillMagenta-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillMagenta-shade);
  --ion-color-tint: var(--ion-color-skillMagenta-tint);
}

// royal
.ion-color-skillRoyal {
  --ion-color-base: var(--ion-color-skillRoyal);
  --ion-color-base-rgb: var(--ion-color-skillRoyal-rgb);
  --ion-color-contrast: var(--ion-color-skillRoyal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillRoyal-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillRoyal-shade);
  --ion-color-tint: var(--ion-color-skillRoyal-tint);
}

// salmon
.ion-color-skillSalmon {
  --ion-color-base: var(--ion-color-skillSalmon);
  --ion-color-base-rgb: var(--ion-color-skillSalmon-rgb);
  --ion-color-contrast: var(--ion-color-skillSalmon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillSalmon-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillSalmon-shade);
  --ion-color-tint: var(--ion-color-skillSalmon-tint);
}

// leaf
.ion-color-skillLeaf {
  --ion-color-base: var(--ion-color-skillLeaf);
  --ion-color-base-rgb: var(--ion-color-skillLeaf-rgb);
  --ion-color-contrast: var(--ion-color-skillLeaf-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillLeaf-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillLeaf-shade);
  --ion-color-tint: var(--ion-color-skillLeaf-tint);
}

// green
.ion-color-skillGreen {
  --ion-color-base: var(--ion-color-skillGreen);
  --ion-color-base-rgb: var(--ion-color-skillGreen-rgb);
  --ion-color-contrast: var(--ion-color-skillGreen-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillGreen-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillGreen-shade);
  --ion-color-tint: var(--ion-color-skillGreen-tint);
}

// pink
.ion-color-skillPink {
  --ion-color-base: var(--ion-color-skillPink);
  --ion-color-base-rgb: var(--ion-color-skillPink-rgb);
  --ion-color-contrast: var(--ion-color-skillPink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillPink-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillPink-shade);
  --ion-color-tint: var(--ion-color-skillPink-tint);
}

// copper
.ion-color-skillCopper {
  --ion-color-base: var(--ion-color-skillCopper);
  --ion-color-base-rgb: var(--ion-color-skillCopper-rgb);
  --ion-color-contrast: var(--ion-color-skillCopper-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillCopper-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillCopper-shade);
  --ion-color-tint: var(--ion-color-skillCopper-tint);
}

// turquoise
.ion-color-skillTurquoise {
  --ion-color-base: var(--ion-color-skillTurquoise);
  --ion-color-base-rgb: var(--ion-color-skillTurquoise-rgb);
  --ion-color-contrast: var(--ion-color-skillTurquoise-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillTurquoise-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillTurquoise-shade);
  --ion-color-tint: var(--ion-color-skillTurquoise-tint);
}

// saphire
.ion-color-skillSaphire {
  --ion-color-base: var(--ion-color-skillSaphire);
  --ion-color-base-rgb: var(--ion-color-skillSaphire-rgb);
  --ion-color-contrast: var(--ion-color-skillSaphire-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillSaphire-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillSaphire-shade);
  --ion-color-tint: var(--ion-color-skillSaphire-tint);
}

// orange
.ion-color-skillOrange {
  --ion-color-base: var(--ion-color-skillOrange);
  --ion-color-base-rgb: var(--ion-color-skillOrange-rgb);
  --ion-color-contrast: var(--ion-color-skillOrange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillOrange-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillOrange-shade);
  --ion-color-tint: var(--ion-color-skillOrange-tint);
}

// gold
.ion-color-skillGold {
  --ion-color-base: var(--ion-color-skillGold);
  --ion-color-base-rgb: var(--ion-color-skillGold-rgb);
  --ion-color-contrast: var(--ion-color-skillGold-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillGold-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillGold-shade);
  --ion-color-tint: var(--ion-color-skillGold-tint);
}

// purple
.ion-color-skillPurple {
  --ion-color-base: var(--ion-color-skillPurple);
  --ion-color-base-rgb: var(--ion-color-skillPurple-rgb);
  --ion-color-contrast: var(--ion-color-skillPurple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillPurple-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillPurple-shade);
  --ion-color-tint: var(--ion-color-skillPurple-tint);
}

// red
.ion-color-skillRed {
  --ion-color-base: var(--ion-color-skillRed);
  --ion-color-base-rgb: var(--ion-color-skillRed-rgb);
  --ion-color-contrast: var(--ion-color-skillRed-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillRed-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillRed-shade);
  --ion-color-tint: var(--ion-color-skillRed-tint);
}

// diamond
.ion-color-skillDiamond {
  --ion-color-base: var(--ion-color-skillDiamond);
  --ion-color-base-rgb: var(--ion-color-skillDiamond-rgb);
  --ion-color-contrast: var(--ion-color-skillDiamond-contrast);
  --ion-color-contrast-rgb: var(--ion-color-skillDiamond-contrast-rgb);
  --ion-color-shade: var(--ion-color-skillDiamond-shade);
  --ion-color-tint: var(--ion-color-skillDiamond-tint);
}
