<ion-content fullscreen>
  <ion-grid class="fullheight center-element">
    <ion-row>
      <ion-col>
        <ion-button class="mb-15" color="dark" fill="outline" size="large" (click)="startGame()">
          <ion-col size="3" offset="2" class="ion-float-right">
            <ion-img src="../assets/images/buttons/main-start-game.png" style="height: 40px;"></ion-img>
          </ion-col>
          <ion-col size="7" class="ion-text-left">
            {{ 'main.play' | translate }}
          </ion-col>
        </ion-button>
        <br>
        <ion-button class="mb-15" color="dark" fill="outline" size="large" routerLink="/shop-page">
          <ion-col size="3" offset="2" class="ion-float-right">
            <ion-img src="../assets/images/buttons/main-shop.png" style="height: 40px;"></ion-img>
          </ion-col>
          <ion-col size="7" class="ion-text-left">
            {{ 'main.shop' | translate }}
          </ion-col>
        </ion-button>
        <br>
        <ion-button class="mb-15" color="dark" fill="outline" size="large" routerLink="/settings-page">
          <ion-col size="3" offset="2" class="ion-float-right">
            <ion-img src="../assets/images/buttons/main-settings.png" style="height: 40px;"></ion-img>
          </ion-col>
          <ion-col size="7" class="ion-text-left">
            {{ 'main.settings' | translate }}
          </ion-col>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>