<ion-card class="box-no-shadow" *ngIf="loaded">
  <div *ngIf="!playerIsDead">
    <!-- START | EMPTY -->
    <div *ngIf="currentRoom.action == 'start' || currentRoom.action == 'empty'">
      <img src="{{ currentRoom.img }}" />
      <ion-card-header class="adjust-padding">
        <ion-card-subtitle>{{ currentRoom.location }}</ion-card-subtitle>
        <ion-card-title>{{ currentRoom.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="adjust-padding">
        <div class="ion-text-start">
          {{ currentRoom.description }}
        </div>
      </ion-card-content>
    </div>

    <!-- CURSE | BLESS -->
    <div *ngIf="currentRoom.action == 'curse' || currentRoom.action == 'bless'">
      <ion-grid>
        <ion-row>
          <ion-col size="4" offset="4">
            <ion-img src="../assets/images/{{ currentRoom.action }}/{{ currentRoom.actionItem.icon }}.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-header class="adjust-padding">
        <ion-card-subtitle>{{ currentRoom.actionItem.location }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="adjust-padding">
        <div class="ion-text-start">
          {{ currentRoom.actionItem.description }}
        </div>
        <div class="ion-text-center ion-margin-top text-{{ currentRoom.action }}-{{ currentRoom.actionItem.icon }}">
          {{ currentRoom.actionItem.title }}
          <span class="ion-margin-start">
            {{ currentRoom.actionItem.operator }} {{ currentRoom.actionItem.value }} %
          </span>
        </div>
        <div class="ion-text-center" *ngIf="actionItemTurn > 0">
          Por {{ actionItemTurn }} turno(s)
        </div>
      </ion-card-content>
    </div>

    <!-- CHEST -->
    <div *ngIf="currentRoom.action == 'chest'">
      <ion-grid>
        <ion-row>
          <ion-col size="4" offset="4">
            <ion-img src="../assets/images/chest.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-header class="adjust-padding">
        <ion-card-subtitle>{{ currentRoom.actionItem.location }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="adjust-padding">
        <div class="ion-text-start">
          {{ currentRoom.actionItem.description }}
        </div>
        <div *ngIf="chestOpened" class="ion-text-center text-color-chest ion-padding-top">
          Você encontrou {{ chestGold }} moedas de ouro!
        </div>
        <div *ngIf="canGetLoot">
          <div *ngIf="lootEquip" class="ion-text-center text-color-equip">
            <span class="ion-margin-bottom">
              Você encontrou {{ lootEquip.name }}!
            </span>
            <br>
            <img [src]="lootEquip.img" style="height: 60px; margin-top: 20px;">
          </div>
        </div>
        <div *ngIf="chestOpened && !canGetLoot">
          <div class="ion-text-center ion-margin-top text-bless-atk">
            Seu inventário está cheio!
          </div>
        </div>
        <ion-row *ngIf="!eventDone">
          <ion-col class="ion-text-center ion-padding-top">
            <ion-button color="dark" fill="outline" (click)="openChest()">
              Abrir
              <ion-icon slot="end" name="key-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </div>

    <!-- TRAP -->
    <div *ngIf="currentRoom.action == 'trap'">
      <ion-grid>
        <ion-row>
          <ion-col size="4" offset="4">
            <ion-img src="{{ currentRoom.actionItem.img }}"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-header class="adjust-padding">
        <ion-card-subtitle>{{ currentRoom.actionItem.location }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="adjust-padding">
        <div class="ion-text-start">
          {{ currentRoom.actionItem.description }}
        </div>
        <div *ngIf="trapped; else evasion" class="ion-text-center ion-margin-top text-bless-atk">
          Você perdeu {{ currentRoom.actionItem.value(player.baseLife) }} de HP!
        </div>
        <ng-template #evasion>
          <div class="ion-text-center ion-margin-top text-bless-heal">
            Você esquivou da armadilha!
          </div>
        </ng-template>
      </ion-card-content>
    </div>

    <!-- BATTLE | BOSS -->
    <div *ngIf="currentRoom.action == 'battle' || currentRoom.action == 'boss'">
      <div *ngIf="!eventDone">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text *ngIf="currentRoom.action == 'boss'" class="text-boss">BOSS</ion-text>
              <ion-img class="img-monster" src="{{ currentRoom.actionItem.img }}"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card-header class="adjust-padding" class="padding-top: 0;">
          <ion-card-subtitle style="padding-top: 0;">
            <span class="ion-float-left" style="margin-bottom: 8px;">
              Nv {{ currentMonster.level }} - {{ currentRoom.actionItem.name }}
            </span>
            <span class="ion-float-right info-monster-hp">
              {{ currentMonster.currentLife }}/{{ currentMonster.baseLife }}
            </span>
            <ion-progress-bar class="monster-hp" color="danger"
              [value]="currentMonster.currentLife/currentMonster.baseLife">
            </ion-progress-bar>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="adjust-padding">
          <div id="animate-battle" class="ion-text-center {{animateBattleColor}}">
            {{ animateBattleText }}
          </div>
          <ion-grid style="padding: 0; margin-top: 45px;">
            <ion-row>
              <ion-col size="6" class="col-skill" *ngFor="let skill of player.skills">
                <ion-button [disabled]="skill == null || (skill.cost > player.currentMana) || !canAtk || !skill.active"
                  [color]="skill != null ? skill.color : 'dark'" fill="outline" (click)="battleAction(skill)">
                  <ion-img src="{{ skill != null ? skill.img : '../assets/images/skill/empty.png'}}"></ion-img>
                  <span class="skill-item-cost" *ngIf="skill != null">
                    {{ skill.cost != 0 ? skill.cost : '' }}
                  </span>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </div>
      <div *ngIf="eventDone">
        <ion-card-content class="adjust-padding">
          <div class="ion-text-center ion-margin-top">
            Você derrotou {{ currentRoom.actionItem.name }}!
          </div>
          <div class="ion-text-center ion-margin-top text-color-chest ">
            Adquiriu {{ currentMonster.exp }} de experiência!
          </div>
          <div class="ion-text-center ion-margin-top text-color-chest ">
            Encontrou {{ currentMonster.gold }} moedas de ouro!
          </div>
          <div *ngIf="canGetLoot">
            <div *ngIf="lootEquip" class="ion-text-center text-color-equip">
              <span class="ion-margin-bottom">
                Você encontrou {{ lootEquip.name }}!
              </span>
              <br>
              <img [src]="lootEquip.img" style="height: 60px; margin-top: 20px;">
            </div>
          </div>
          <div *ngIf="!canGetLoot">
            <div class="ion-text-center ion-margin-top text-bless-atk">
              Seu inventário está cheio!
            </div>
          </div>
        </ion-card-content>
      </div>
    </div>

    <!-- EVENT DONE -->
    <ion-grid *ngIf="eventDone && !playerIsDead" class="ion-padding-top">
      <ion-row>
        <ion-col *ngFor="let way of currentRoom.next; let i = index" [size]="12/currentRoom.next.length">
          <ion-button color="dark" fill="outline" expand="block" (click)="enterRoom(way)">
            Seguir
            <ion-icon *ngIf="currentRoom.next.length < 2; else buttonsNext" slot="end" name="arrow-up-outline">
            </ion-icon>
            <ng-template #buttonsNext>
              <ion-icon *ngIf="i == 0" slot="end" name="arrow-back-outline"></ion-icon>
              <ion-icon *ngIf="i == 1" slot="end" name="arrow-forward-outline"></ion-icon>
            </ng-template>
          </ion-button>
        </ion-col>
        <ion-col *ngIf="currentRoom.next.length == 0" size="12">
          <ion-button color="dark" fill="outline" expand="block" (click)="nextFloor()">
            Próximo andar
            <ion-icon slot="end" name="push-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- GAME OVER -->
  <div *ngIf="playerIsDead">
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="4" class="ion-margin-top ion-padding-top">
          <ion-img src="../assets/images/tomb.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content class="adjust-padding">
      <div class="ion-text-center text-game-over">
        VOCÊ MORREU!
      </div>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text color="medium">
              {{ player.name }} - Nível {{ player.level }}
            </ion-text>
            <br>
            <ion-text color="medium">
              Morto por {{ deathCause }}
            </ion-text>
            <br>
            <ion-text color="medium">
              Andar máximo: {{ player.floorIndex }}F
            </ion-text>
            <br>
            <ion-text color="medium">
              {{ player.killCount }} monstros mortos!
            </ion-text>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <div class="ranking" *ngIf="player.killCount <= 15">
              <ion-text class="is-c">C</ion-text>
            </div>
            <div class="ranking" *ngIf="player.killCount > 15 && player.killCount <= 30">
              <ion-text class="is-b">B</ion-text>
            </div>
            <div class="ranking" *ngIf="player.killCount > 30 && player.killCount <= 55">
              <ion-text class="is-b2">B+</ion-text>
            </div>
            <div class="ranking" *ngIf="player.killCount > 55 && player.killCount <= 80">
              <ion-text class="is-a">A</ion-text>
            </div>
            <div class="ranking" *ngIf="player.killCount > 80 && player.killCount <= 100">
              <ion-text class="is-a2">A+</ion-text>
            </div>
            <div class="ranking" *ngIf="player.killCount > 100">
              <ion-text class="is-s">S</ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding-start ion-padding-end">
          <ion-button color="secondary" fill="outline" expand="block" routerLink="/create-character"
            routerDirection="root">
            Jogar de novo
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-start ion-padding-end">
          <ion-button color="danger" fill="outline" expand="block" routerLink="/" routerDirection="root">
            Menu principal
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>