.box-no-shadow {
    box-shadow: none !important;
}

.text-curse-venom {
    color: darkviolet;
}

.text-curse-burn {
    color: orangered;
}

.text-curse-atk {
    color: gainsboro;
}

.text-curse-def {
    color: chocolate;
}

.text-curse-vel {
    color: hotpink;
}

.text-bless-heal {
    color: lime;
}

.text-bless-mana {
    color: cornflowerblue;
}

.text-bless-atk {
    color: red;
}

.text-bless-def {
    color: royalblue;
}

.text-bless-vel {
    color: yellow;
}

.text-color-chest {
    color: gold;
}

.text-color-equip {
    color: magenta;
}

.img-monster {
    width: 50%;
    margin: 0 auto;
}

.monster-hp {
    height: 7px;
    --buffer-background: #262626;
}

.info-monster-hp {
    font-size: 0.7rem;
    position: relative;
    top: 3px;
}

.col-skill {
    height: fit-content;
    ion-button {
        width: -webkit-fill-available;
        height: 50%;
        ion-img {
            margin: 5px;
            width: 70%;
        }
        .skill-item-cost {
            position: absolute;
            right: -12px;
            bottom: 3px;
            font-size: 10px;
            color: white;
        }
    }
}

#animate-battle {
    opacity: 0;
    position: absolute;
    top: -15px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.text-game-over {
    color: red;
    font-weight: 900;
    font-size: larger;
}

.text-boss {
    float: right !important;
    font-weight: 900;
    font-size: large;
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    text-shadow: 2px 2px 0 red, -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

// RANKING EFFECTS

.ranking {
    font-size: xx-large;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    .is-c {
        background: radial-gradient(#ffedd9, #991f00);
        background-clip: text;
        color: transparent;
    }
    .is-b {
        background: radial-gradient(#ffffff, #34383a);
        background-clip: text;
        color: transparent;
    }
    .is-b2 {
        background: radial-gradient(#99ffc0, #05471e);
        background-clip: text;
        color: transparent;
    }
    .is-a {
        background: radial-gradient(#e1e8ff, #0034c4);
        background-clip: text;
        color: transparent;
    }
    .is-a2 {
        background: radial-gradient(#f2e6ff, #67008f);
        background-clip: text;
        color: transparent;
    }
    .is-s {
        background: radial-gradient(#ffffff, #ffe602);
        background-clip: text;
        color: transparent;
    }
}
