.box-no-shadow {
    box-shadow: none !important;
}

.text-curse-venom {
    color: darkviolet;
}

.text-curse-burn {
    color: orangered;
}

.text-curse-atk {
    color: gainsboro;
}

.text-curse-def {
    color: chocolate;
}

.text-curse-vel {
    color: hotpink;
}

.text-bless-heal {
    color: lime;
}

.text-bless-mana {
    color: cornflowerblue;
}

.text-bless-atk {
    color: red;
}

.text-bless-def {
    color: royalblue;
}

.text-bless-vel {
    color: yellow;
}

.text-color-chest {
    color: gold;
}
