<ion-content fullscreen>
  <ion-card class="ion-margin-top">
    <img src="../assets/images/room.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Quarto Desconhecido</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-start">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Enim quas, explicabo accusamus in aut a molestias
        ipsa sit magni voluptatibus ex necessitatibus facere laborum dolorem!
        Possimus error minus quidem repudiandae.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      </div>  
    </ion-card-content>
    <ion-button color="dark" fill="outline" expand="full">
      Prosseguir
    </ion-button>
  </ion-card>
</ion-content>