.slot-inventory {
    margin: 0;
    height: 80px;
}

.col-skill {
    height: fit-content;
    padding-top: 0;
    ion-button {
        width: -webkit-fill-available;
        height: 50%;
        img {
            margin: 10px;
            width: 100%;
        }
    }
}

.loot-count {
    text-transform: lowercase;
    position: absolute;
    top: 3px;
    left: -10px;
}

.loot-equip {
    text-transform: uppercase;
    position: absolute;
    bottom: 2px;
    right: -12px;
}

.full-loot {
    color: red;
    float: right !important;
}
