<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventário</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-text color="warning" class="ion-margin-end">{{ player.gold }}</ion-text>
        <img src="../assets/images/buttons/coin.png" style="height: 20px;">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item lines="none">
    <ion-label>
      <h3>
        Capacidade: {{ count }}/{{ player.inventory.length }}
        <span *ngIf="count == player.inventory.length" class="full-loot">
          Cheio!
        </span>
      </h3>
    </ion-label>
  </ion-item>
  <ion-grid class="ion-margin-bottom ion-padding-bottom">
    <ion-row>
      <ion-col>
        <ion-button class="btn-reorder" size="small" color="dark" fill="outline" (click)="reorderLoot()">
          <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="col-skill" *ngFor="let slot of player.inventory">
        <ion-button [disabled]="!slot.img && !slot.equiped || (slot.type == 'equip' && player.inBattle)" color="dark"
          fill="outline" (click)="manageSlot(slot)">
          <img [src]="slot.img || '../assets/images/skill/empty.png'" />
          <div *ngIf="slot.type == 'potion' || slot.type == 'bottle'">
            <span class="loot-count">{{ slot.count }}x</span>
          </div>
          <div *ngIf="slot.type == 'equip' && slot.equiped == true">
            <span class="loot-equip">e</span>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>