<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventário</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-item lines="none">
    <ion-label>
      <h3>Capacidade: 0/{{ player.inventory.length }}</h3>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let slot of player.inventory" size="4">
        <ion-card class="slot-inventory" color="light">
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>