<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Opções</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
      <ion-label>Música</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="headset-outline" slot="start"></ion-icon>
      <ion-label>Efeitos sonoros</ion-label>
      <ion-toggle checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="text-outline" slot="start"></ion-icon>
      <ion-label>Fonte</ion-label>
      <ion-range min="1" max="6" snaps="true" value="3"></ion-range>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col class="ion-padding-start ion-padding-end">
      <ion-button color="danger" fill="outline" expand="full" routerLink="/" routerDirection="root">
        Voltar ao menu principal
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
