<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Personagem</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>{{ player.name }}</ion-label>
      <ion-text class="ion-margin-start ion-margin-end">Nv {{ player.level }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none">
      <ion-label color="medium">Pontos disponíveis</ion-label>
      <ion-text color="medium" class="ion-margin-start ion-margin-end">{{ player.points }}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="danger">Vitalidade</ion-label>
      <ion-button *ngIf="player.points > 0" color="dark" fill="outline" (click)="increase('vitality')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="danger">{{ player.vitality }}</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="primary">Inteligência</ion-label>
      <ion-button *ngIf="player.points > 0" color="dark" fill="outline" (click)="increase('intelligence')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="primary">{{ player.intelligence }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="success">Agilidade</ion-label>
      <ion-button *ngIf="player.points > 0" color="dark" fill="outline" (click)="increase('agility')">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-text class="ion-margin-start ion-margin-end" color="success">{{ player.agility }}</ion-text>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item lines="none">
      <ion-label>Atributos do jogador</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid class="ion-padding-start ion-padding-end ion-margin-bottom">
    <ion-row>
      <ion-col>
        <ion-text color="medium">Andar</ion-text>
        <ion-text color="medium" class="ion-float-end">{{ player.floorIndex }}</ion-text>
        <br>
        <ion-text color="medium">Sala atual</ion-text>
        <ion-text color="medium" class="ion-float-end">{{ player.roomIndex }}</ion-text>
        <br>
        <ion-text color="warning">EXP</ion-text>
        <ion-text color="warning" class="ion-float-end">
          {{ player.getCurrentNextLvl() }}/{{ player.getNextLvl() }}
        </ion-text>
        <br>
        <ion-text color="warning">Ouro</ion-text>
        <ion-text color="warning" class="ion-float-end">{{ player.gold }}</ion-text>
        <br>
        <ion-text color="danger">HP</ion-text>
        <ion-text color="danger" class="ion-float-end">
          {{ player.current.life }}/{{ player.base.life }}
        </ion-text>
        <br>
        <ion-text color="danger">Ataque</ion-text>
        <ion-text color="danger" class="ion-float-end">{{ player.current.atk }}</ion-text>
        <br>
        <ion-text color="danger">Defesa</ion-text>
        <ion-text color="danger" class="ion-float-end">{{ player.current.def }}</ion-text>
        <br>
        <ion-text color="primary">Mana</ion-text>
        <ion-text color="primary" class="ion-float-end">
          {{ player.current.mana }}/{{ player.base.mana }}
        </ion-text>
        <br>
        <ion-text color="primary">Magia</ion-text>
        <ion-text color="primary" class="ion-float-end">{{ player.current.magic }}</ion-text>
        <br>
        <ion-text color="primary">Proteção</ion-text>
        <ion-text color="primary" class="ion-float-end">{{ player.current.prot }}</ion-text>
        <br>
        <ion-text color="success">Velocidade</ion-text>
        <ion-text color="success" class="ion-float-end">{{ player.current.vel }}</ion-text>
        <br>
        <ion-text color="success">Crítico</ion-text>
        <ion-text color="success" class="ion-float-end">{{ player.current.crit }}%</ion-text>
        <br>
        <ion-text color="success">Evasão</ion-text>
        <ion-text color="success" class="ion-float-end">{{ player.current.eva }}%</ion-text>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>