<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Equipamentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="ion-margin-top ion-margin-bottom">
    <ion-row>
      <ion-col size="4" offset="4" class="col-skill">
        <ion-button [disabled]="!player.equip.helmet" color="dark" fill="outline">
          <img [src]="player.equip.helmet || '../assets/images/helmet.png'" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="!player.equip.shield" color="dark" fill="outline">
          <img [src]="player.equip.shield || '../assets/images/shield.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="!player.equip.armor" color="dark" fill="outline">
          <img [src]="player.equip.armor || '../assets/images/armor.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="!player.equip.sword" color="dark" fill="outline">
          <img [src]="player.equip.sword || '../assets/images/sword.png'" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="!player.equip.ring" color="dark" fill="outline">
          <img [src]="player.equip.ring || '../assets/images/ring.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill ion-padding-top">
        <ion-button [disabled]="!player.equip.boots" color="dark" fill="outline">
          <img [src]="player.equip.boots || '../assets/images/boots.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="!player.equip.necklace" color="dark" fill="outline">
          <img [src]="player.equip.necklace || '../assets/images/necklace.png'" />
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>
      Atributos de equipamento
    </ion-label>
  </ion-item>
  <ion-grid class="ion-padding ion-margin-bottom">
    <ion-row>
      <ion-col>
        <ion-text color="danger">+ 100 HP</ion-text>
        <br>
        <ion-text color="danger">+ 50 Ataque</ion-text>
        <br>
        <ion-text color="primary">+ 25 Magia</ion-text>
        <br>
        <ion-text color="success">+ 32 Velocidade</ion-text>
        <br>
        <ion-text color="success">+ 15 % Crítico</ion-text>
        <br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>