.col-skill {
    height: fit-content;
    padding-top: 0;
    ion-button {
        width: -webkit-fill-available;
        height: 50%;
        img {
            margin: 10px;
            width: 100%;
        }
    }
}
