<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Equipamentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid class="ion-margin-top ion-margin-bottom">
    <ion-row>
      <ion-col size="4" offset="4" class="col-skill">
        <ion-button [disabled]="player.equip.helmet == null" color="dark" fill="outline"
          (click)="removeEquip(player.equip.helmet)">
          <img [src]="player.equip.helmet != null ? player.equip.helmet.img : '../assets/images/helmet.png'" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="player.equip.shield == null" color="dark" fill="outline"
          (click)="removeEquip(player.equip.shield)">
          <img [src]="player.equip.shield != null ? player.equip.shield.img : '../assets/images/shield.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="player.equip.armor == null" color="dark" fill="outline"
          (click)="removeEquip(player.equip.armor)">
          <img [src]="player.equip.armor != null ? player.equip.armor.img : '../assets/images/armor.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="player.equip.sword == null" color="dark" fill="outline"
          (click)="removeEquip(player.equip.sword)">
          <img [src]="player.equip.sword != null ? player.equip.sword.img : '../assets/images/sword.png'" />
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="player.equip.ring == null" color="dark" fill="outline"
          (click)="removeEquip(player.equip.ring)">
          <img [src]="player.equip.ring != null ? player.equip.ring.img : '../assets/images/ring.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill ion-padding-top">
        <ion-button [disabled]="player.equip.boots == null" color="dark" fill="outline"
          (click)="removeEquip(player.equip.boots)">
          <img [src]="player.equip.boots != null ? player.equip.boots.img : '../assets/images/boots.png'" />
        </ion-button>
      </ion-col>
      <ion-col size="4" class="col-skill">
        <ion-button [disabled]="player.equip.necklace == null" color="dark" fill="outline"
          (click)="removeEquip(player.equip.necklace)">
          <img [src]="player.equip.necklace != null ? player.equip.necklace.img : '../assets/images/necklace.png'" />
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>
      Habilidades
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row *ngFor="let skill of player.skills">
      <ion-col>
        <ion-button (click)="showSkill(skill)" *ngIf="skill != null" expand="block" fill="outline"
          [color]="skill.color">
          {{ skill.name }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label>
      Atributos de equipamento
    </ion-label>
  </ion-item>
  <ion-grid class="ion-padding ion-margin-bottom">
    <ion-row>
      <ion-col>
        <div *ngFor="let buff of buffs">
          <ion-text [color]="buff.color" *ngIf="buff.value > 0">
            + {{ buff.value }} {{ buff.cond }} {{ buff.name }}
            <br>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>